<div class="background">
  <div class="gamemenu">
    <h1 class="wordsizeHeader">CODEBOT ARENA</h1>
  </div>
  <hr>
  <div class="info">
    <table>
      <thead>
      <nav class="create">
        <a class="form-control" [routerLink]="['/create']" routerLinkActive="active-link" [skipLocationChange]="true">Create
          Game</a>
      </nav>
      <br>
      <br>
      <br>
      <nav class="join">
        <a class="form-control" [routerLink]="['/join']" routerLinkActive="active-link" [skipLocationChange]="true">Join
          Game</a>
      </nav>
      <ng-container *ngIf="rejoinCookieExists()">
        <br>
        <br>
        <br>
        <nav class="join">
          <button class="form-control btnColor" (click)="rejoinGame()">Rejoin Game</button>
        </nav>
      </ng-container>
      </thead>
    </table>
  </div>
</div>
