.background {
  background-color: gray;
  width: 100%;
  height: 100%;
  position: fixed;
}

.gamemenu {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
}


a {
  text-decoration: none;
  color: whitesmoke;
  background-color: darkcyan;
}

.btnColor {
  text-decoration: none;
  color: whitesmoke;
  background-color: darkcyan;
}

.form-control {
  width: 400px;
  text-align: center;
}

.wordsizeHeader {
  font-size: 70px;
}



