<div class="color">
  <div class="center">
    <h1 class="wordsizeHeader">Join Game</h1>
  </div>
  <hr>
  <form #game="ngForm">
    <div class="center">
      <table>
        <thead>
        <th>
          <div>
            <tr class="size">Playername:</tr>
            <input type="text" class="form-control" required minlength="1" [(ngModel)]="playerName" name="Nutzername">
          </div>
          <div>
            <tr class="size">Password:</tr>
            <input type="text" class="form-control" [(ngModel)]="password" name="password">
          </div>
          <p>
            {{errorMessage}}
          </p>
        </th>
        </thead>
      </table>
    </div>
    <div class="center">
      <th class="allGamesHeader">All Games</th>
    </div>
    <ng-container *ngFor="let g of gameInitializationService.lobbies$ | async">
      <div class="center">
        <table class="gamelist">
          <tr>
            <td class="gamelist">{{g}}</td>
            <td>
              <button type="button" class="beitretenButton btn-primary" (click)="joinGame(g)"
                      [disabled]="game.invalid">
                Join
              </button>
            </td>
          </tr>
        </table>
      </div>
    </ng-container>
    <div class="center">
      <button type="button" class="backButton btn-primary" (click)="backToLobby()">Back</button>
    </div>

  </form>
</div>
