.center {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.color {
  background-color: gray;
  width: 100%;
  height: 100%;
  position: fixed;
}

.form-control {
  width: 400px;
}

.backButton {
  margin-right: 340px;
  justify-content: left;
}

table {
  table-layout: auto;
}

.gamelist {

  justify-content: right;
}

.beitretenButton {
  justify-content: right;
  margin-left: 25px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 20px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 20px solid #a94442; /* red */
}

.wordsizeHeader {
  font-size: 60px;
}

.allGamesHeader {
  font-size: 20px;
}

.size {
  font-size: 17px;
}
