<div>
  <app-command-display [item]="workItem"
                       [connectedDropListsIds]="connectedDropListsIds"
                       (itemDrop)="onDragDrop($event)">
  </app-command-display>
</div>
<button class="buttonSave" (click)="saveCommands()">Save</button>
<br>
<div class="optionSource"
     cdkDropList
     id="optionSource"
     [cdkDropListConnectedTo]="connectedDropListsIds">
  <app-command-display cdkDrag [item]="option"
                       [connectedDropListsIds]="connectedDropListsIds"
                       [cdkDragData]="option"
                       (itemDrop)="onDragDrop($event)" *ngFor="let option of newOptions">>
  </app-command-display>
</div>
