div {
  font-size: 14px;
}

h1 {
  margin-bottom: 0;
  padding-left: 80px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:first-of-type {
  margin-left: 80px;
}

.buttonSave:hover {
  background-color: #3e8e41
}

.buttonSave:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
