div {
  margin-left: 5px;
}

.outer {
  display: flex;
  margin-top: 3px;
}

.waypoint {
  border: 2px solid black;
  margin-left: 60px;
}

.placeholder {
  color: white;
  border: 2px solid white;
}

.fontForText {
  font-weight: 600;
}

.buttonSet:hover {
  background-color: #3e8e41
}

.buttonSet:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonAbort:hover {
  background-color: red
}

.buttonAbort:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
