<div class="outer">
  <div class="waypoint fontForText" *ngFor="let w of waypointService.waypoints$ | async; let i = index">
    Waypoint {{i + 1}}: {{w.x}}/{{w.y}}
    <ng-container *ngIf="selectedCell;else placeholder1">
      <button class="buttonSet" (click)="setWaypoint(i)">Set Waypoint</button>
    </ng-container>
    <ng-template class="placeholder" #placeholder1>
      <button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </ng-template>
    <ng-container *ngIf="w.x>=0&&w.y>=0;else placeholder2">
      <button class="buttonAbort" (click)="unsetWaypoint(i)">Delete Waypoint</button>
    </ng-container>
    <ng-template class="placeholder" #placeholder2>
      <button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </ng-template>
  </div>
</div>

