.box {
  float: left;
  width: 15%;
  height: 90px;
  padding: 2px;
  background: lightgray;
  margin-right: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  font-size: medium;
  cursor: pointer;
}

.abortBox {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 90px;
  padding: 2px;
  background: lightgray;
  margin-right: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.textSize {
  font-weight: 700;
}

.sizeOfDesciption {
  font-weight: 500;
}

.jobsAbort .item:hover {
  width: 200px;
  height: 85px;
  background: darkgray;
  border: 2px solid #d0d0d0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs .item:hover {
  background: darkgray;
  border: 2px solid #d0d0d0;
}

.lineHeight {
  line-height: 20px;
}
