<div *ngIf="!hasUnit()&&mayBuildResource()" class="box jobs" (click)="buildBuilding('Resource')">
  <div class="textSize item">Resource Extractor<br>
    <div class="sizeOfDesciption"> Produces resources<br>Costs: 100</div>
  </div>
</div>

<div *ngIf="!hasUnit()&&mayBuildNormal()" class="box jobs" (click)="buildBuilding('Production')">
  <div class="textSize item"> Robot Production<br>
    <div class="sizeOfDesciption">Builds robots <br>Costs: 50</div>
  </div>
</div>

<div *ngIf="!hasUnit()&&mayBuildDefence()" class="box jobs" (click)="buildBuilding('Defence')">
  <div class="textSize item"> Defense<br>
    <div class="sizeOfDesciption"> Attacks enemies <br>Costs: 100</div>
  </div>
</div>

<div *ngIf="!hasUnit()&&mayBuildRadar()" class="box jobs" (click)="buildBuilding('Radar')">
  <div class="textSize item"> Radar<br>
    <div class="sizeOfDesciption"> High vision range <br>Costs: 50</div>
  </div>
</div>

<div *ngIf="!hasUnit()&&mayBuildResearch()" class="box jobs" (click)="buildBuilding('Research')">
  <div class="textSize item">Research<br>
    <div class="sizeOfDesciption">Researches new Robots <br>Costs: 100
    </div>
  </div>
</div>

<ng-container *ngIf="hasUnit()&&isNotBuildingOrDone()&&ownUnit()">
  <ng-container *ngFor="let upgrade of allUpgrades">
    <ng-container *ngIf="maySelectUpgrade(upgrade)">
      <div class="box jobs" (click)="startUpgrade(upgrade)">
        <div class="textSize item">{{upgrade.upgradeName}}<br>
          <div class="sizeOfDesciption"> {{upgrade.description}} <br>Costs: {{upgrade.cost}}
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isResearchBuilding()">
    <ng-container *ngFor="let research of allResearch">
      <ng-container *ngIf="maySelectResearch(research)">
        <div class="box jobs" (click)="startResearch(research)">
          <div class="textSize item">{{research.researchName}}<br>
            <div class="sizeOfDesciption lineHeight"> {{research.description}} <br>Costs: {{research.cost}}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<div *ngIf="!hasUnit()" class="abortBox jobsAbort" (click)="abortBuilding()">
  <div class="item">Abort building process</div>
</div>
<div *ngIf="hasUnit()&&isUpgrading()" class="abortBox jobsAbort" (click)="abortUpgrade()">
  <div class="item">Abort Upgrade</div>
</div>
<div *ngIf="hasUnit()&&isResearching()" class="abortBox jobsAbort" (click)="abortResearch()">
  <div class="item">Abort research</div>
</div>
