.optionsHolder {
  float: top;
}

.outerBorder {
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
  width: fit-content;
}

.childList {
  margin: 3px;
  padding: 3px;
  border: 1px solid black;
  min-height: 20px;
}

ul,
li {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  list-style: none;
}

li {
  border: 1px solid black;
}

.item {

&
-dropzone {
  border: 1px dashed grey;
  min-height: 20px;

&
.parent {
  border: none
}

}

&
-drag {

&
-handle {
  display: inline-flex;
  align-items: center;
}

&
-preview {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

}
}

.cdk-drop-list-dragging {
  background: lightgreen;
}

.cdk-drag-placeholder {
  opacity: 0;
  height: 0;
}

.buttonClose:hover {
  background-color: lightcoral;
}

.buttonClose:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
