<div class="outerContainer" [ngClass]="{'outerBorder': !parentItem}">
  <div class="contentHolder">
    {{item.name}}
    <ng-container *ngIf="item.options.length>0">
      <select [(ngModel)]="item.selectedOption">
        <option *ngFor="let option of item.options">{{option}}</option>
      </select>
    </ng-container>
    <ng-container *ngIf="parentItem">
      <button class="close buttonClose" mat-button (click)="delete(item,parentItem)">X</button>
    </ng-container>
  </div>
  <div class="childListList" *ngIf="item.children.length>0">
    <div class="childList"
         cdkDropList
         [cdkDropListData]="[list,item]"
         [id]="item.uid+i"
         [cdkDropListConnectedTo]="allDropListsIds"
         (cdkDropListDropped)="onDragDrop($event)"
         *ngFor="let list of item.children; let i = index">
      <div class="child"
           cdkDrag
           [id]="child.uid"
           [cdkDragData]="child"
           [cdkDragDisabled]="dragDisabled"
           *ngFor="let child of list">
        <app-command-display [item]="child"
                             [parentItem]="item"
                             [connectedDropListsIds]="connectedDropListsIds"
                             (itemDrop)="onDragDrop($event)">
        </app-command-display>
      </div>
    </div>
  </div>
</div>
