.background {
  background-color: gray;
  width: 100%;
  height: 100%;
  position: fixed;
}

.creategame {
  display: flex;
  justify-content: center;

}

.info {
  display: flex;
  justify-content: center;

}

.form-control {
  width: 400px;
}

.backButton {
  margin-right: 200px;
  justify-content: left;
}

.createButton {
  justify-content: right;
  margin-left: 45px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 20px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 20px solid #a94442; /* red */
}

.wordsizeHeader {
  font-size: 60px;
}

.size {
  font-size: 17px;
}

.buttonStyle {
  height: 50px;
}
