<div class="background">
  <div class="creategame">
    <h1 class="wordsizeHeader">Create game</h1>
  </div>
  <hr>

  <div class="info">
    <table>
      <thead>
      <th>
        <form (ngSubmit)="createGame()" #game="ngForm">
          <tr class="size">Game Name:</tr>
          <div>
            <input type="text" class="form-control" required minlength="1" [(ngModel)]="gameName" name="gameName">
          </div>
          <tr class="size">Playername:</tr>
          <div>
            <input type="text" class="form-control" required minlength="1" [(ngModel)]="playerName" name="playerName">
          </div>
        </form>
        <tr class="size">Password:</tr>
        <div>
          <input type="text" class="form-control" [(ngModel)]="password">
        </div>

        <p>
          {{errorMessage}}
        </p>
        <div>
          <button type="button" class="backButton btn-primary" (click)="backToGameLobby()">Back</button>
          <button type="submit" class="createButton btn-primary" (click)="createGame()" [disabled]="game.invalid">Create
            Game
          </button>
        </div>
      </th>
      </thead>
    </table>
  </div>

</div>
