.left {
  display: flex;
  justify-content: left;
  margin-left: 440px;
}

.right {
  display: flex;
  justify-content: right;
  margin-left: 700px;
}

.center {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  padding: 550px;
}

.sizeButton {
  height: 50px;
  width: 150px;
  font-size: larger;
  font-weight: 700;
  font-style: normal;
}

.color {
  background-color: gray;
  width: 100%;
  height: 100%;
  position: fixed;
}

.font-size {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.table-left {
  align: "left";
  width: 60%;
  position: fixed;
}

.slidecontainer {
  width: 20%; /* Width of the outside container */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
}

.sliderForRight {
  left: 70%;
  position: fixed;
}

.textForSlider {
  display: flex;
  justify-content: center;
}

.fontSizeForTextSlider {
  font-style: normal;
  font-weight: 500;
}

.sliderMargin {
  margin-top: 50px;
}

.wordsizeHeader {
  font-size: 60px;
}

.sizeSlider {
  font-size: larger;
}

.sizePlayerName {
  font-size: larger;
}

.sizeSettings {
  font-weight: 500;
}

.buttonStart:hover {
  background-color: #3e8e41
}

.buttonStart:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
