<div class="color">

  <div class="center">
    <h1 class="wordsizeHeader">{{gameName}}</h1>
  </div>
  <div class="font-size">
    <div class="left">Player
      <div class="right">Settings</div>
    </div>
  </div>
  <table class="table table-hover table-left">
    <tbody>
    <tr *ngFor="let p of gameInitializationService.lobbyPlayers$ | async">
      <div class="center">
        <td class="sizePlayerName">{{p}}</td>
      </div>
    </tr>
    </tbody>
  </table>

  <div class="sizeSlider">
    <div class="slidecontainer sliderForRight sliderMargin">
      <div class="textForSlider fontSizeForTextSlider">Gamefield Width</div>
      <input (change)="updateSettings()" type="range" min="50" max="400" step="1" class="slider"
             [(ngModel)]="x" [disabled]="isHost() !== true">
      <div class="sizeSettings">{{x}}</div>

      <div class="slidecontainer sliderForRight ">
        <div class="textForSlider fontSizeForTextSlider">Gamefield Height</div>
        <input (change)="updateSettings()" type="range" min="30" max="300" step="1"
               class="slider" [(ngModel)]="y" [disabled]="isHost() !== true">
        <div class="sizeSettings">{{y}}</div>

        <div class="slidecontainer sliderForRight  ">
          <div class="textForSlider fontSizeForTextSlider">Starting Resources</div>
          <input (change)="updateSettings()" type="range" min="100" max="1000"
                 step="50" class="slider" [(ngModel)]="startRessources" [disabled]="isHost() !== true">
          <div class="sizeSettings">{{startRessources}}</div>

          <div class="slidecontainer sliderForRight  ">
            <div class="textForSlider fontSizeForTextSlider">Updaterate</div>
            <input (change)="updateSettings()" type="range" min="1000" max="10000"
                   step="1000" class="slider" [(ngModel)]="updateFrequency" [disabled]="isHost() !== true">
            <div class="sizeSettings">{{updateFrequency}} ms</div>

            <div class="slidecontainer sliderForRight  ">
              <div class="textForSlider fontSizeForTextSlider">Blocker Frequency</div>
              <input (change)="updateSettings()" type="range" min="0" max="40" step="1"
                     class="slider" [(ngModel)]="blockerFrequency" [disabled]="isHost() !== true">
              <div class="sizeSettings">{{blockerFrequency}} %</div>

              <div class="slidecontainer sliderForRight  ">
                <div class="textForSlider fontSizeForTextSlider">Resource Frequency</div>
                <input (change)="updateSettings()" type="range" min="1" max="20" step="1"
                       class="slider" [(ngModel)]="resourceFrequency" [disabled]="isHost() !== true">
                <div class="sizeSettings">{{resourceFrequency}} &#8240;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="center bottom">
    <button class="sizeButton buttonStart" type="button" [disabled]="isHost() !== true" (click)="startGame()">Start
      Game
    </button>
  </div>
</div>
