.front {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  pointer-events: none;
}

.back {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.frontiest {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  pointer-events: none;
}
