<canvas class="back" #myCanvas width="1px" height="1px" (contextmenu)="onRightClick($event)"
        (click)="onLeftClick($event)"></canvas>
<canvas class="front" #myCanvasFront width="1px" height="1px"></canvas>
<canvas class="frontiest" #myCanvasFrontiest width="1px" height="1px"></canvas>
