.top {
  height: 55px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  border-style: solid;
  overflow: auto;
}

.bottomTop {
  height: 45px;
  width: calc(100% - 100px);
  top: 55px;
  left: 100px;
  position: absolute;
  border-style: solid;
  overflow: auto;
}

.bottomTopLeft {
  height: 45px;
  width: 100px;
  top: 62px;
  left: 5px;
  position: absolute;
  overflow: auto;
}

.right {
  width: 300px;
  height: calc(100% - 200px);
  top: 100px;
  left: calc(100% - 300px);
  position: absolute;
  border-style: solid;
  overflow: auto;
}

.center {
  height: calc(100% - 200px);
  width: calc(100% - 300px);
  top: 100px;
  left: 0px;
  position: absolute;
  border-style: solid;
  overflow: auto;
}

.bottom {
  height: 100px;
  width: calc(100% - 300px);
  bottom: 0px;
  left: 0px;
  position: absolute;
  border-style: solid;
  overflow: auto;
}

.bottomRight {
  height: 100px;
  width: 300px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  border-style: solid;
  overflow: auto;
}

.boxPlayerlist {
  margin-left: 3%;
  float: left;
  min-width: 650px;
  width: auto;
  height: 50px;
  padding: 10px;
  background: lightgray;
  margin-right: 2%;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}

.boxRessources {
  margin-left: 3%;
  float: left;
  width: 170px;
  height: 50px;
  padding: 10px;
  background: lightgray;
  margin-right: 2%;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}

.boxGameName {
  margin-left: 3%;
  float: left;
  min-width: 200px;
  width: auto;
  height: 50px;
  padding: 10px;
  background: lightgray;
  margin-right: 2%;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}

.boxMove {
  margin-left: 3%;
  float: left;
  width: 120px;
  height: 50px;
  padding: 10px;
  background: lightgray;
  margin-right: 2%;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}

.fontForText {
  font-weight: 600;
}

.text {
  float: left;
  padding: 2px;
  text-align: left;
}

p {
  font-size: 13px;
  margin-bottom: 0px;
}

.buttonCenter:hover {
  background-color: #3e8e41
}

.buttonCenter:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
