<div class="top">
  <div class="boxRessources">Resources:
    <div class="fontForText">{{resources}}</div>
  </div>
  <div class="boxGameName">Game Name:
    <div class="fontForText">{{gameName}}</div>
  </div>
  <div class="boxMove">Turn:
    <div class="fontForText">{{turn}}</div>
  </div>
  <div class="boxPlayerlist">Player List:
    <div *ngFor="let p of players">
      <div [ngStyle]="{'color': playerColorService.getColorOfPlayer(p)}" class="text fontForText">{{p}}</div>
    </div>
  </div>
</div>

<div class="bottomTopLeft">
  <button class="buttonCenter" (click)="centerOnMainRobot()">Center MR</button>
</div>

<div class="bottomTop">
  <app-waypoint [selectedCell]="selectedCell"></app-waypoint>
</div>


<div class="right">
  <app-selected-cell-stats [unit]="displayUnit" [selectedCell]="selectedCell"
                           (robotNotification)="updateOnRobotProductionEvent($event)"
                           (repeatNotification)="updateOnChangeRepeatEvent($event)"></app-selected-cell-stats>
</div>

<div class="bottom">
  <app-building-options [selectedCell]="selectedCell" (upgradeNotification)="updateOnUpgradeEvent($event)"
                        (buildingNotification)="updateOnBuildingEvent($event)"
                        (researchNotification)="updateOnResearchEvent($event)"></app-building-options>
</div>

<div class="center" #elemt (mousedown)="startDragging($event, elemt)" (mouseup)="stopDragging($event)"
     (mouseleave)="stopDragging($event)" (mousemove)="moveEvent($event, elemt)" (wheel)="zoomChange($event)">
  <app-game-visualization (clickEvent)="clickEvent($event)"></app-game-visualization>
</div>

<div class="bottomRight">
  <p *ngFor="let m of messageService.messages$|async">{{m}}</p>
</div>

