p {
  margin-bottom: 0px; /* between paragraphs */
}

input {
  margin: 10px;
}

.textSize {
  font-weight: 500;
}

.buttonProduction:hover {
  background-color: #3e8e41
}

.buttonProduction:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonAbort:hover {
  background-color: red
}

.buttonAbort:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.health {
  height: 40px;
  width: 30px;
}

.speed {
  height: 20px;
  width: 20px;
}

.damage {
  height: 25px;
  width: 30px;
}

.range {
  height: 30px;
  width: 30px;
}

.vision {
  height: 20px;
  width: 20px;
}

.armor {
  height: 20px;
  width: 15px;
}

.armorPiercing {
  height: 30px;
  width: 20px;
}

.paddingIcons {
  padding-left: 70px;
}
