<div *ngIf="isStatUnit()">
  <p><img class="health" src="assets/icons/heart.png">{{statUnit.currentHP}}
    /{{statUnit.maxHP}}
    <img class="speed"
         src="assets/icons/speed.png"> {{statUnit.speed}}
    <img class="damage" src="assets/icons/damage.png"> {{statUnit.damage}}
    <img class="range"
         src="assets/icons/range.png"> {{statUnit.range}}</p>
  <p class="paddingIcons"><img class="vision"
                               src="assets/icons/vision.png"> {{statUnit.vision}}
    <img class="armor"
         src="assets/icons/armor.png"> {{statUnit.armor}}
    <img class="armorPiercing"
         src="assets/icons/armorPiercing.png"> {{statUnit.armorPiercing}}
  </p>
</div>
<div *ngIf="isBuilding">
  <ng-container *ngIf="building.resourcesPerTick > 0"><p class="textSize">Resource
    Production: {{building.resourcesPerTick}}</p></ng-container>
  <p class="textSize">Building Time: {{building.passedDuration}}/{{building.buildDuration}}</p>

</div>
<div *ngIf="isStatUnit()&&isUpgrading()">
  <p class="textSize">Upgrade Time: {{statUnit.passedUpgradeDuration}}/{{statUnit.currentUpgrade.duration}}</p>
</div>
<div *ngIf="isResearchBuilding()&&isResearching()">
  <p class="textSize">Research Time: {{researchBuilding.passedResearchDuration}}
    /{{researchBuilding.currentResearch.duration}}</p>
</div>
<div *ngIf="isRobotProductionBuilding()">
  <p class="textSize" *ngIf="isCurrentlyBuildingUnit()">Robot Production
    Time: {{robotProductionBuilding.currentProduction.passedDuration}}
    /{{robotProductionBuilding.currentProduction.buildDuration}}</p>
  <p *ngIf="isCurrentlyBuildingUnit()&&isUnitOwned()">
    <button class="buttonAbort" (click)="abortRobot()">Abort Robot</button>
    <input type="checkbox" [(ngModel)]="robotProductionBuilding.repeatProduction" (change)="repeatProductionChanged()">Repeat
  </p>
  <p *ngIf="canBuildUnit()&&!isCurrentlyBuildingUnit()&&isUnitOwned()">
    <button class="buttonProduction" (click)="buildRobot('Basic')">Build Attack Robot (20 Res)</button>
    <button class="buttonProduction" *ngIf="isUnlocked('Reconnaissance')" (click)="buildRobot('Reconnaissance')">Build
      Reconnaissance Robot (10 Res)
    </button>
    <button class="buttonProduction" *ngIf="isUnlocked('Tank')" (click)="buildRobot('Tank')">Build Tank (200 Res)
    </button>
    <button class="buttonProduction" *ngIf="isUnlocked('Sniper')" (click)="buildRobot('Sniper')">Build Sniper Robot (100
      Res)
    </button>
    <input type="checkbox" [(ngModel)]="robotProductionBuilding.repeatProduction" (change)="repeatProductionChanged()">Repeat
  </p>
  <p *ngIf="isUnitOwned()">
    <app-automated-commands-editor [parentItem]="robotProductionBuilding.rootCommand" [buildingLocation]="getPoint()"
                                   (codeChangeNotification)="updateOnCodeChangeEvent($event)"></app-automated-commands-editor>
  </p>
</div>
